* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: auto;
}

.banner {
    background: url(../img/main-bg.jpg);
    height: 946px;
    position: relative;
    background-repeat: no-repeat;

}

.banner__title {
    height: 100px;
    background-color: rgba(255, 255, 255, .2);
    margin-top: 100px;
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 100px;
    text-transform: uppercase;
    font-family: 'Dancing Script', cursive;
    font-size: 45px;

}

.banner__info {
    display: flex;
    justify-content: space-around;
    width: 89%;
    margin: auto;
    margin-top: 500px;
    position: absolute;
    left: 0;
    right: 0;

}

.banner__article {
    width: 325px;
    height: 300px;
    background-color: rgba(7, 14, 78, 0.3);
    border-radius: 5px;
    color: white;

}

.article__text {
    text-align: justify;
    padding: 0px 30px 30px 30px;
    text-align-last: right;
}

.article__title {
    padding: 30px 30px 0px 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: right;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;

}

.square {
    position: absolute;
    height: 60px;
    width: 120px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 60px;
    right: 32px;
    bottom: 33px;
}


.square>div {
    font-size: 50px;
}

.fa-brands {
    margin-right: 10px;
    color: aquamarine;
    font-size: 25px;

}

footer>div {
    width: 50%;
}

footer {
    display: flex;

}

.footer__text {
    text-align: justify;
    text-align-last: right;
    padding: 20px 40px;

}

.footer__title {
    padding: 20px 40px 0px 40px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.footer__menu {
    list-style-type: none;
    padding: 20px 40px 0px 40px;

}

.footer__menu li {
    margin: 15px 0px;
}

#first__li {
    margin-top: 0;
}

@media screen and (max-width: 414px) {
    body {
        min-width: 100vw;
        min-height: 100vh;
    }

    .container {
        width: 414px;
    }

    .banner {
        background-position: center;
        background-size: cover;
        height: 1016px;

    }

    .banner__title {
        margin: 0;
        font-size: 30px;
        line-height: 50px;
        height: 50px;
        text-align: center;
    }

    .banner__info {
        flex-direction: column;
        margin-top: 70px;
    }

    .banner__article {
        width: 100%;
        margin-bottom: 20px;
    }

    .square {
        width: 70px;
    }

    footer {
        flex-direction: column;
    }

    footer>div {
        width: 100%;
    }

    .square {
        bottom: 10px;
        width: 70px;

    }

    .square>div {
        font-size: 30px;

    }

}